.card {
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
  margin-bottom: 20px;
  flex: 0 1 calc(100%);
}

.image-container {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 33em) {
  .card {
    flex: 0 1 calc(50% - 1em);
  }
}

@media screen and (min-width: 58em) {
  .card {
    flex: 0 1 calc(33% - 2em);
  }
}

@media screen and (min-width: 75em) {
  .card {
    flex: 0 1 calc(25% - 2em);
  }
}
